# 必要なファイルを含める
include README.md
include LICENSE
include pyproject.toml
include requirements.txt

# テンプレートディレクトリの *.enc ファイルを除外 (暗号化済みファイルなど)
prune lingustruct/templates/*.enc

# Pythonキャッシュファイルを除外
global-exclude __pycache__/*
global-exclude *.py[cod]

# テストディレクトリを除外
prune tests

# スクリプトや不必要なファイルを除外
prune scripts
exclude *.log

# バーチャル環境を除外
prune venv

# 必要なテンプレートファイルを含める
recursive-include lingustruct/templates *.json

# APIディレクトリ内のすべてのPythonファイルを含める
recursive-include api *.py

# キーマッピングファイルを含める
include mappings/key_mapping.json

